<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">HOME <span class="sr-only">(current)</span></a></li>
                <li><a href="../users/profile.view.html">PROFILE</a></li>
                <li><a href="../views/admin/admin.view.html">ADMIN</a></li>
                <li><a href="../views/forms/forms.view.html">FORMS</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>