
<body ng-controller="RegisterController">

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-0 col-sm-offset-0 col-md-0 col-md-offset-2 main">
            <h1 class="page-header">REGISTRATION</h1>
        </div>
        <div class="col-sm-0 col-sm-offset-0 col-md-0 col-md-offset-2 main">

            <form>
                <div class="form-group">
                    <label  for="username">Username</label>
                    <input ng-model="m.u.username" type="text" class="form-control" id="username" placeholder="Username" style="width: 35%; padding: 2px">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" ng-model="m.u.password" class="form-control" id="password" placeholder="Password" style="width: 35%; padding: 2px">
                </div>

                <div class="form-group">
                    <label for="verify password">Verify Password</label>
                    <input type="password" ng-model="m.u.vpassword" class="form-control" id="verify password" placeholder="Password" style="width: 35%; padding: 2px">
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" ng-model="m.u.email" id="email" placeholder="Email" style="width: 35%; padding: 2px">
                </div>

                <br/>
                <button type="submit" ng-click="m.register(m.u)" class="btn btn-default" style="width: 35%; height: 60%"><b>Register</b></button>
            </form>

        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../../assets/js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>